agftr2/src/main/mule/agftr2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="94a0aeaa-ab52-4c47-81cb-35b4c805f7d7" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="agftr2Flow" doc:id="4742ac71-6e91-429c-93d3-58ec8bacd48a" >
		<http:listener doc:name="Listener" doc:id="7f1c846e-b239-4108-96f3-bc8d105eefc2" config-ref="HTTP_Listener_config" path="/agftry2"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="5343427f-1e80-466e-bfb6-8a260d718a6c" />
	</flow>
</mule>
